body {
    font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
}

header {
    background-color: #BA6565;
    
}
main{
    margin: 0;
    margin-bottom: 0;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 15px;
}

.tagline{
   text-align: center;
   padding-bottom: 20px;
   color: white;
   margin-bottom: 0;
}

footer { 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.images {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}


p{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.suzie-and-jake {
  
    background-color:#F5EEEC;
    color: #3E3B3B;
    padding: 15px;
}

.about-me {
    padding: 15px;
    background-color: #A66E6E;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    color: white;
    width: 100%;
}

.about-me h1{
    text-align: left;
    margin-left: 58%;
   
  
}

.about-me p{
    text-align: left;
    margin-left: 58%;
    width: 15%;
}

.about-me a{
    color: white;
}

.about-me img{
    width: 35%;
    float: left;
    margin-left: 22%;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.contact-form {

    background-color: #803939;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;


}

.socials {
 padding: 25px;
}

.instagram{
   width: 40px;
   padding: 10px;
}

.twitter{
    width: 40px;
    padding: 10px;

 }

 .facebook{
    width: 40px;
    padding: 10px;

 }
