body {
    font-family: 'Source Sans Pro', sans-serif;
   margin: 0;
}

header {
    background-color: indianred;
    
}
main{
    margin: 0;
    margin-bottom: 0;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.tagline{
   text-align: center;
   padding-bottom: 20px;
   color: white;
}

footer { 
    text-align: center;
}

.images {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
}


p{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.suzie-and-jake {
  
    background-color:#F5EEEC;
    color: #3E3B3B;
    padding: 15px;
}

.about-me {
    padding: 15px;
    background-color: #A66E6E;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    color: white;
}

.about-me h1{
    text-align: left;
    padding: 15px;
    margin-left: 30%;
    margin-top: 4%;
   
}

.about-me p{
    text-align: left;
    padding: 15px;
    margin-left: 30%;
    width: 40%;
   
}

.about-me a{
    color: white;
}

.about-me img{
    width: 23%;
    float: left;
    display: inline-block;
    margin-left: 28%;
    margin-right: 2%;
}